@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}